WEB_ORIGIN=http://localhost:3100 # Default: http://localhost:3100, for allow all origins use '*'
SOCKET_URL=http://localhost:3101 # Default: http://localhost:3101
SOCKET_PORT=3101 # Default: 3101 (Socket server port). Supports legacy env var: SOCKER_PORT
NEXT_PUBLIC_API_URL=http://localhost:8080
TELEGRAM_BOT_TOKEN=7790049516:AAF-8U8Mq5nJ9mlpA3cFF-0MUirL4FMEtdg # Optional: True/False natijalarini Telegramga yuborish uchun
